<footer class="page-footer">
  <div class="row text-center">
    <div class="col-md-4 footer-column">
      <h3 class="footer-title">Producto</h3>
      <ul class="product-menu">
        <li><a href="/create">Nueva Junta</a></li>
        <li><a href="#advantages">Ventajas</a></li>
        <li><a href="#donate">Dona</a></li>
      </ul>
    </div>

    <div class="col-md-4 footer-column">
      <h3 class="footer-title">Contacto</h3>
      <p>planific-io@outlook.com</p>

      <h3 class="footer-title">Redes Sociales</h3>
      <a href="https://www.instagram.com/planific.io/" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>

    <div class="col-md-4 footer-column company-information">
      <a class="brand"
        ><img
          class="d-inline-block align-top"
          src="/assets/planificio-logo.png"
          height="30"
          alt="Planific.io logo"
        />Planific.io</a
      >
      <p class="company-description">
        Orgullosamente desarrollado en MX por Eduardo Mayida
        <br />
        Copyright &copy; 2021
        <br />
        All rights reserved
      </p>
    </div>
  </div>
</footer>
