<div class="row timecard-container">
  <div class="col-md-12">
    <div class="os-animation" data-animation="fadeInLeft">
      <div class="timecard">
        <table>
          <thead>
            <tr>
              <th></th>
              <th
                class="header"
                *ngFor="let header of timecardInformation.headers"
              >
                {{ header }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let timecard of timecardInformation.data">
              <td *ngIf="timecard.time.hour.includes(':00')" class="time">
                <span>{{ timecard.time.hour }}</span><br/>{{
                  timecard.time.meridian
                }}
              </td>
              <td *ngIf="timecard.time.hour.includes(':30')" class="time"></td>
              <td
                *ngFor="let personTime of timecard.availability"
                class="cell-border clickable-cell"
                (click)="selectCell($event)"
                [ngClass]="[personTime === false ? 'available' : 'busy']"
              ></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
