<div *ngIf="!this.timecard.id" class="row spinner-container">
    <div class="spinner spinner-border"></div>
</div>

<app-timecard-header 
    *ngIf="this.timecard.id" 
    [title]="this.timecard.title" 
    [date]="this.timecard.date"
    (onEditTitle)="updateTitle($event)" 
    (onEditDate)="updateDate($event)"
    >
</app-timecard-header>
<app-timecard-grid 
    *ngIf="this.timecard.id" 
    [id]="this.timecard.id" 
    [details]="this.timecard.details"
    (onEdit)="updateTimecard($event)"
    >
</app-timecard-grid>