.jumbotron {
  background-color: transparent;
}
.phrase {
  font-weight: 600;
}
.jumbotron-childs > * {
  padding-bottom: 2rem;
}
.button-create {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.8rem;
  font-weight: 600;
  border-color: #66c7c9;
  color: #66c7c9;
  padding: 1rem 1.5rem;
}

.button-create:hover {
  background-color: #66c7c9;
  color: #ffffff;
}

@media (max-width: 480px) {
  .phrase {
    font-size: 3rem;
  }
}
