<div class="jumbotron jumbotron-fluid  text-center">
  <div class="container jumbotron-childs">
    <div class="row">
      <div class="col-sm-12 col-md-8 pull-left">
        <h1 class="display-3 phrase">Oops!</h1>
        <h2 class="sub-phrase">Reunión no encontrada</h2>
        <p class="description">Parece ser que a nuestro adminisitrador se le olvidó desarrollar esta página.</p>
        <p class="description">Ayúdalo a conservar su trabajo, no le digas a nadie</p>
      </div>
      <div class="col-sm-12 col-md-4 image-container">
        <img src="/assets/error.png" alt="Planific.io"/>
      </div>
      <div class="col-12 button-container">
        <p class="lead">
          <a class="btn btn-lg button-create" href="/home" role="button">Volver a inicio</a>
        </p>
      </div>
    </div>
  </div>
</div>