<div class="jumbotron jumbotron-fluid  text-center">
    <div class="container jumbotron-childs">
      <h1 class="display-3 phrase">Whoooops!</h1>
      <div class="row">
        <div class="col-sm-12 col-md-6 pull-left">
            <p class="description">Parece ser que a nuestro adminisitrador se le olvidó desarrollar esta página. 
              </p>
               <p class="description">Ayúdalo a conservar su trabajo, no le digas a nadie</p>
            <p class="lead">
                <a class="btn btn-lg button-create" href="/home" role="button"
                  >Volver a inicio</a
                >
              </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <img src="/assets/silence-image.jpg" alt="Planific.io" height="300px" />
        </div>
      </div>
    </div>
  </div>
  