.timecard-container {
  padding: 0rem 10rem 5rem 10rem;
  text-align: center;
}

.timecard {
  padding: 1rem;
  background-color: #f5f6f9;
}

.timecard div {
  overflow-x: auto;
}

.timecard div table {
  width: 100%;
}

.participant-names{
  display: inline-block;
  padding-bottom: 2rem;
}

.timecard div table .header div,
.participant-names .row{
  display: flex !important;
  align-content: space-between;
  margin: 0 0 0 3px;
  min-width: 160px;
}

.timecard div table .header div a {
  margin: auto 10px auto auto;
}

.add-button-container{
  display: flex;
  align-items: center;
}

input {
  padding: 1rem 0rem;
  letter-spacing: 2px;
  background-color: transparent;
  border: 0px;
  font-weight: 600;
  text-align: left;
  width: 70%;
  font-size: 0.9rem;
  margin-left: 10px;
}

input:focus {
  outline: none;
  color: #95959e;
}

.timecard div table .time {
  padding-right: 1rem;
  line-height: 0.8rem;
  text-align: right;
  color: #95959e;
}

.timecard div table .time span {
  font-weight: 700;
  color: #171628;
}

.timecard div table .available {
  background-color: #66c7c9;
}

.timecard div table .whole-match {
  background-color: #19b5b1 !important;
}

.clickable-cell {
  height: 1.7rem;
  cursor: pointer;
  padding: 0;
  border-left: 1px solid #95959e;
  border-right: 1px solid #95959e;

}

.day-row {
  display: table;
  width: 100% !important;
  height: 100%;
  margin: 0;
}

.cell-border {
  border: 1px dotted #cfcdcd;
  display: table-cell;
  height: 100%;
}

.timecard-link {
  padding: 5rem 5rem;
  text-align: center;
}

.timecard-link h2 {
  font-size: 1.7rem;
}

.timecard-link-buttons {
  vertical-align: middle;
  display: flex;
  justify-content: center;
}

.timecard-url {
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 8px;
  border: 1px solid #f5f6f9;
  color: #95959e;
  margin-top: 2rem;
  padding: 1rem 1.5rem;
  margin-right: 1rem;
}

.copy-button {
  margin-left: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.8rem;
  font-weight: 600;
  border-color: #66c7c9;
  color: #66c7c9;
  margin-top: 2rem;
  padding: 1rem 1.5rem;
}

.copy-button:hover {
  background-color: #66c7c9;
  color: #ffffff;
}

.copy-button:active {
  background-color: #5cb3b4;
}

.description {
  margin: 0 auto;
  width: 45%;
  padding: 2rem 0rem 4rem 0rem;
  font-size: 1rem;
  color: #95959e;
  line-height: 2rem;
}

.add-button {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.8rem;
  font-weight: 600;
  border-color: #66c7c9;
  color: #66c7c9;
  padding: 0.3rem 0.5rem;
}
.add-button:hover {
  background-color: #66c7c9;
  color: #ffffff;
}

.delete-button {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #dc143c;
  border-color: #dc143c;
  padding: 0.3rem 0.5rem;
}

.delete-button:hover {
  background-color: #dc143c;
  color: #ffffff;
}

@media (max-width: 1600px) {
  .timecard div table .header div input {
    font-size: 0.8rem;
  }
}

@media (max-width: 1200px) {
  .description {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .timecard div table .time {
    font-size: 0.8rem;
  }
  .clickable-cell {
    height: 1.6rem;
  }
  .timecard-description {
    width: 100%;
  }
  .description {
    padding: 2rem 0rem 1rem 0rem;
  }
  .timecard-link {
    padding: 5rem 1rem 2rem 1rem;
  }
  .timecard-container {
    padding: 0rem 2rem 5rem 2rem;
  }
}
