<div class="row qualities-container">
  <div class="col-md-12">
    <div class="os-animation" data-animation="fadeInLeft">
      <div class="quality">
        <h2 class="quality-title">Designed with purpose</h2>
        <p class="quality-description">
          Popular scheduling apps have make finding a spot a complex task.
          Planific.io take things down to simple, just what you need
        </p>
        <div class="quality-image-background aqua">
          <img
            class="quality-image"
            src="/assets/designed-with-purpose.png"
            alt="Designed with purpose"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="os-animation" data-animation="fadeInLeft">
      <div class="quality">
        <h2 class="quality-title">Effortless planning</h2>
        <p class="quality-description">
          Finding a spot was never this easy, just indicate your busy hours and
          share with your team members. In a glance you’ll identify free spots.
        </p>
        <div class="quality-image-background gray">
          <img
            class="quality-image"
            src="/assets/effortless-planning.png"
            alt="Designed with purpose"
          />
        </div>
      </div>
    </div>
  </div>
</div>
