<div class="row qualities-container">
  <div class="col-md-12">
    <div class="os-animation" data-animation="fadeInLeft">
      <div class="quality">
        <h2 class="quality-title">Diseñada con propósito</h2>
        <p class="quality-description">
          Las aplicaciones de organización hacen de la tarea de agendar una junta una tarea muy compleja. 
          Planific.io vuelve las cosas a lo simple, justo lo que necesitas. 
        </p>
        <div class="quality-image-background aqua">
          <img
            class="quality-image"
            src="/assets/designed-with-purpose.png"
            alt="Designed with purpose"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="os-animation" data-animation="fadeInLeft">
      <div class="quality">
        <h2 class="quality-title">Planeción sin esfuerzos</h2>
        <p class="quality-description">
          Encontrar un espacio en tu calendario, ahora más fácil. Solo indica las horas en las que estas disponible y comparte tu junta con los miembros de tu equipo. 
          En un vistazo, identificarás el tiempo libre en el que tu y tus compañeros podrán reunirse. 
        </p>
        <div class="quality-image-background gray">
          <img
            class="quality-image"
            src="/assets/effortless-planning.png"
            alt="Designed with purpose"
          />
        </div>
      </div>
    </div>
  </div>
</div>
