<div class="row donate-container" id="donate">
  <div class="col-md-12">
    <div class="os-animation" data-animation="fadeInLeft">
      <div class="donate">
        <h2 class="donate-title">Construyamos mejores equipos</h2>
        <h2 class="donate-title">Dona a la aplicación que te ayuda a mantener el enfoque</h2>
        <p class="description">Si esta herramienta fue de tu utilidad, te gradecería si puedes apoyar con tu donativo para que más equipos puedan hacer uso de ella, ya que la infraestructura para mantener activa la aplicación actualmente corre por mi cuenta.</p>
        <a
          class="btn btn-lg donate-button"
          href="https://www.paypal.com/donate/?hosted_button_id=GMVDB4MWQQ66C"
          role="button"
          target="_blank"
          >Dona ahora</a
        >

        <img class="donate-image" src="/assets/donate.png" alt="Donate" />
      </div>
    </div>
  </div>
</div>
