<div class="row donate-container" id="donate">
  <div class="col-md-12">
    <div class="os-animation" data-animation="fadeInLeft">
      <div class="donate">
        <h2 class="donate-title">Build better teams</h2>
        <h2 class="donate-title">Donate to the app that helps you focus</h2>
        <a
          class="btn btn-lg donate-button"
          href="https://www.paypal.com/donate/?hosted_button_id=GMVDB4MWQQ66C"
          role="button"
          target="_blank"
          >Donate now</a
        >

        <img class="donate-image" src="/assets/donate.png" alt="Donate" />
      </div>
    </div>
  </div>
</div>
