.donate-container {
  padding: 10rem 5rem 1rem 5rem;
  text-align: center;
  margin-top: -10rem;
}
.donate-title {
  font-size: 1.7rem;
}
.description {
  margin: 0 auto;
  width: 45%;
  padding: 2rem 0rem 4rem 0rem;
  font-size: 1rem;
  color: #95959e;
  line-height: 2rem;
}
.donate-button {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.8rem;
  font-weight: 600;
  border-color: #66c7c9;
  color: #66c7c9;
  margin-top: 2rem;
  padding: 1rem 1.5rem;
}
.donate-button:hover {
  background-color: #66c7c9;
  color: #ffffff;
}
.donate-image {
  padding: 5rem 4rem;
  width: 100%;
}

@media (max-width: 768px) {
  .donate-image {
    padding: 3rem 0rem;
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .description {
    width: 65%;
  }
}

@media (max-width: 992px) {
  .description {
    width: 100%;
  }
}
