<div class="jumbotron jumbotron-fluid text-center">
    <div class="container jumbotron-childs">
  
      <h1 class="display-3 phrase">{{timecardTitle}}</h1>
  
      <div class="input-group">
        <input
          class="form-control"
          placeholder="Select a date"
          name="dp"
          [(ngModel)]="model"
          ngbDatepicker
          [minDate] = "today"
          #d="ngbDatepicker"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            (click)="d.toggle()"
            type="button"
          ><i class="fas fa-calendar"></i></button>
        </div>
      </div>
      <div class="tip col-md-4"><P>Tip: Click on the spots that you are available to let your partners knows your free time spots
      </P></div> 
      
    
  </div>
  </div>
  
  
  