<div class="row advantage-container" id="advantages">
  <div class="col-sm-6 col-md-4">
    <div class="os-animation" data-animation="fadeInLeft">
      <div class="advantage">
        <img src="/assets/schedule.png" alt="Schedule" height="100" />
        <p>Identify free spots within your group’s schedules or calendars.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="os-animation" data-animation="fadeInUp">
      <div class="advantage">
        <img src="/assets/fast.png" alt="Fast" height="100" />
        <p>Take the most out of your time, book spaces faster without worrying.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="os-animation" data-animation="fadeInRight">
      <div class="advantage">
        <img src="/assets/target.png" alt="Target" height="100" />
        <p>Focus on what really matters, leaving scheduling to Planific.io</p>
      </div>
    </div>
  </div>
</div>
