<div class="row advantage-container" id="advantages">
  <div class="col-sm-6 col-md-4">
    <div class="os-animation" data-animation="fadeInLeft">
      <div class="advantage">
        <img src="/assets/schedule.png" alt="Schedule" height="100" />
        <p>Identifica los tiempos libres en el calendario de tu equipo</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="os-animation" data-animation="fadeInUp">
      <div class="advantage">
        <img src="/assets/fast.png" alt="Fast" height="100" />
        <p>Aprovecha al máximo tu tiempo, agenda reuniones más rápido y sin preocuparte.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="os-animation" data-animation="fadeInRight">
      <div class="advantage">
        <img src="/assets/target.png" alt="Target" height="100" />
        <p>Enfócate en lo que realmente importa, y deja la planificación en manos de Planific.io</p>
      </div>
    </div>
  </div>
</div>
