/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html,
body {
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
:target:before {
  content: "";
  display: block;
  height: 100px;
  margin: -100px 0 0;
}
