<div class="jumbotron jumbotron-fluid text-center">
    <div class="container jumbotron-childs">
        <h1 class="display-3 phrase">
            Selecciona el tipo de reunión
        </h1>
        <div class="row card-container">
            <div class="card" style="width: 18rem;" routerLink="/create">
                <img class="card-img-top" src="/assets/daily-meeting.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Reunión diaria</h5>
                </div>
            </div>
            <div class="card" style="width: 18rem;" routerLink="/weekly">
                <img class="card-img-top" src="/assets/weekly-meeting.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Reunión semanal</h5>
                </div>
            </div>
        </div>
    </div>
</div>